main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 110px;
}

.flex{
    display: flex;
    align-items: center;
}

.menu {
    position: relative;
    float: right;
}

.tele {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.telegram {
    margin-left: 39px;
}

.oval {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -100000000;
}

.banner {
    margin-left: 140px;
    margin-bottom: 95px;
}

.name {
    max-width: 340px;
    justify-content: space-between;
}

.mainText {
    margin-top: 2%;
}

.text1 {
    max-width: 774px;
    color: #303433;
    font-family: GraphikLCG;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.text2 {
    max-width: 550px;
    margin-top: 2%;
    margin-bottom: 3%;
    color: #303433;
    font-family: GraphikLCG;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.link {
    text-decoration: none;
    color: white;
    padding: 11px 30px 14px;
    border-radius: 3px;
    background: #69C87C;
}

.container {
    max-width: 1280px;
    /* height: 720px; */
    margin-left: 10%;
}

.container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
}

.card {
    max-width: 160px;
    font-size: 0.9em;
    box-shadow: 0px 5px 22px 0px rgba(200, 200, 200, 0.10), 0px 12px 17px 0px rgba(206, 206, 206, 0.15), 0px 7px 8px 0px rgba(0, 0, 0, 0.25);
    flex: 1;
    border-radius: 5px;
    padding: 4em 3em;
    position: relative;
    background: white;
    height: max-content;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card h2 {
    font-weight: 500;
    font-size: 1.3em;
}

.card p {
    font-size: 1em;
}

.card .underline {
    border-bottom: 1px solid #9dd0a7;
    padding: 0.1em 0;
}


.first-card::before {
    content: "";
    background: #69C87C;
    position: absolute;
    height: 100%; 
    width: 100%;
    z-index: -2;
    border-radius: 5px;
    right: -10px;
    bottom: -10px;
}

.second-card::before {
    content: "";
    background: #69C87C;
    position: absolute;
    height: 100%; 
    width: 90%;
    z-index: -2;
    border-radius: 5px;
    right: 5%;
    bottom: -10px;
}

.third-card::before {
    content: "";
    background: #69C87C;
    position: absolute;
    height: 110%; 
    width: 100%;
    z-index: -2;
    border-radius: 5px;
    left: -5%;
    top: -5%;
}

.fourth-card::before {
    content: "";
    background: #69C87C;
    position: absolute;
    height: 70%; 
    width: 100%;
    z-index: -2;
    border-radius: 5px;
    right: -5%;
    bottom: -5%;
}
.about__section {
    display: flex;
    justify-content: center;
}

.about__wrapper {
    max-width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
}
.about__wrapper h2 {
    color: #303433;
    font-family: GraphikLCG;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 155.556% */
}
.about__wrapper .data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.about__wrapper .data .slogan {
    color: #303433;
    font-family: GraphikLCG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
}

.about__wrapper .data .icons__data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.about__wrapper .data .icons__data .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #D1E5EE;
    font-family: GraphikLCG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.about__wrapper .data .text__data {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 20px;
}

.text__data {
    max-width: 800px;
}

.text__data__normal {
    color: #303433;
    font-family: GraphikLCG;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.text__data__strong {
    color: #303433;
    font-family: GraphikLCG;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}


.work {
    max-width: 100%;
}

.work__text {
    margin-left: 70px;
    color: #303433;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.work__stages {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work__stages--stage {
    margin: 35px;
    max-width: 165px;
    background-color: #F3F8FB;;
    padding: 61px 2px 62px;
    border-radius: 60%;
    text-align: center;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.work__stages--stage:hover {
    background-color: #69C87C;
}


.client {
    width: 100%;
    display: flex;
    background: #69C87C;
    padding-top: 100px;
}

.client__text {
    max-width: 300px;
    padding-left: 120px;
    padding-right: 150px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.client__card {
    max-width: 800px;
    padding-bottom: 100px;
}

.client__card img {
    max-width: 120px;
    height: 120px;
    margin: 10px;
    margin-top: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 25px;
}


.connect{
    width: 100%;
    padding-left: 130px;
    padding-bottom: 60px;
}

.connectWork {
    display: flex;
}

.connect__text {
    max-width: 300px;
    padding-right: 400px;
    color: #303433;
    font-size: 20px;
    font-style: normal;
    line-height: 45px;
    text-decoration: none;
}

.conect__form {

}

.connect__form--line {
    margin: 18px;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid #B3C1C8;
    color: #9BA6AC;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.connect__form--button {
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background: #69C87C;
    padding: 7px 36px 8px 38px; 
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.footer {
    height: 100px;
    background: #F3F8FB;
}

.foot {
    padding-left: 100px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.scheme {
    display: flex;
    justify-content: center;
}

.examples {
    width: 100%;
}

.examples__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.examples__button {
    transform: rotate(270deg);
}

.result {
    display: flex;
    max-width: 100%;
    background-color: #69C87C;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding: 70px;
}

.result__about {
    display: inline-block;
    max-width: 60%;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    padding-left: 130px;
}

.result__about--text {
    padding-bottom: 60px;
}

.result__about--circle {
    display: flex;
    justify-content: space-between;
}

.result__about--circle1 {
    max-width: 150px;
    background-color: #fff;
    padding: 30px 4px 30px 4px;
    border-radius: 60%;
    text-align: center;
    text-decoration: none;
    color: #303433;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}
